# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: alejandra
        name: alejandra
        entry: alejandra .
        language: system
        #files: \.(py|js|sh)$ # Regex to match files to run the hook on
  # - repo: https://github.com/JohnnyMorganz/StyLua
  #   rev: v0.19.0 # Use the latest stable version
  #   hooks:
  #     - id: stylua
  #       # args: [--check] # Use --check to only report issues, remove for auto-formatting
