version: '3'

tasks:
  rebuild:
    cmds:
      - sudo nixos-rebuild switch --flake .

  gc:
    cmds:
      - nix-collect-garbage

  service:xremap:restart:
    cmds:
      - systemctl --user restart xremap.service
