version: '3'

tasks:
  gen-keys:
    cmds:
      - mkdir -p /tmp/wireguard/
      - umask 077 && wg genkey > /tmp/wireguard/privatekey
      - wg pubkey < /tmp/wireguard/privatekey > /tmp/wireguard/publickey
      - sudo cp /tmp/wireguard/privatekey /etc/wireguard/privatekey
      - sudo cp /tmp/wireguard/publickey /etc/wireguard/publickey
      - sudo rm -rf /tmp/wireguard

  show:
    cmds:
      - sudo wg show wg0

  connect:
    cmds:
      - sudo wg-quick up wg0

  disconnect:
    cmds:
      - sudo wg-quick down wg0
