version: '3'

tasks:
  rebuild:
    cmds:
      - sudo nixos-rebuild switch --flake .

  show_ip:
    cmds:
      - hostname -I

  service:xremap:restart:
    cmds:
      - systemctl --user restart xremap.service
